Soporte Inteligente - Anthropic AI (2).json
{
  "name": "Soporte Inteligente - Anthropic AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soporte-inteligente",
        "responseMode": "lastNode",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d3b5d80e-28c0-4bcd-af5b-a84f12b0f7d6",
      "name": "Webhook",
      "webhookId": "5fe0397f-c529-4e63-867a-fc2fe89c784d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d04ddea-7145-422d-a63d-6d0cf9bbdb0f",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "8e7bf5e3-2d3f-41b1-90b1-882edee1fd3c",
              "leftValue": "={{ $json.body.nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "558db075-fd6e-406c-b727-398a7d98f353",
              "leftValue": "={{ $json.body.cliente.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "a55ac637-1919-46e3-9eb5-8702b3d0d13f",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ticket_id\": \"={{ 'TK-' + $now.toFormat('yyyyMMdd') + '-' + Math.floor(Math.random() * 9000 + 1000) }}\",\n  \"fecha\": \"={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}\",\n  \"nombre\": \"={{ $json.body.nombre }}\",\n  \"email\": \"={{ $json.body.email }}\",\n  \"asunto\": \"={{ $json.body.asunto || 'Sin asunto' }}\",\n  \"mensaje\": \"={{ $json.body.mensaje }}\",\n  \"prioridad\": \"={{ $json.body.prioridad || 'media' }}\",\n  \"ip_origen\": \"={{ $json.headers?.['x-forwarded-for'] || 'Local' }}\",\n  \"estado\": \"NUEVO\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "a16e1727-a1b7-4b7c-a77c-d387de691bb2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        528,
        160
      ],
      "id": "c5188859-cdfe-440d-9f14-b21316b04e10",
      "name": "When chat message received",
      "webhookId": "22ae8ba2-ea3a-4b4f-bd93-9f47e9262ce9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Clasifica este ticket de soporte:\n\nAsunto: {{ $json.asunto }}\nMensaje: {{ $json.mensaje }}\nPrioridad indicada por el usuario: {{ $json.prioridad }}",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un asistente de clasificación de tickets de soporte técnico. \nAnaliza el ticket y responde ÚNICAMENTE con un JSON válido, sin explicaciones, sin saludos y sin bloques de código markdown.\n\nEstructura requerida:\n{\n  \"categoria\": \"TÉCNICO\",\n  \"sentimiento\": \"FRUSTRADO\",\n  \"urgencia\": \"ALTA\",\n  \"resumen\": \"Escribe aquí el resumen de máximo 50 palabras\",\n  \"palabras_clave\": [\"palabra1\", \"palabra2\", \"palabra3\"]\n}\n\nValores permitidos para categoria: TÉCNICO, FACTURACIÓN, CONSULTA_GENERAL, QUEJA, SOLICITUD.\nValores permitidos para sentimiento: POSITIVO, NEUTRO, NEGATIVO, FRUSTRADO.\nValores permitidos para urgencia: BAJA, MEDIA, ALTA, CRÍTICA."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        688,
        -96
      ],
      "id": "b56d6d91-b024-4c08-9f71-93116f071e8d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        672,
        304
      ],
      "id": "5ca979b2-db80-49b4-ac9c-dabe51a44e33",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "QNxHCiWTXwChfLEK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.text).categoria }}",
                    "rightValue": "TÉCNICO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f8d9aced-106e-4576-8322-85695ebc33ec"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b18c6e0-03a0-4361-aaee-44704327d683",
                    "leftValue": "={{ JSON.parse($json.text).categoria }}",
                    "rightValue": "FACTURACIÓN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0a8f0ec2-e943-46ef-834d-878b8438b2e8",
                    "leftValue": "={{ JSON.parse($json.text).categoria }}",
                    "rightValue": "QUEJA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1040,
        -112
      ],
      "id": "48324f70-cbd6-411c-9777-d0f6c31eed73",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ticket_id\": \"={{ $('Edit Fields').item.json.ticket_id }}\",\n  \"fecha\": \"={{ $('Edit Fields').item.json.fecha }}\",\n  \"nombre\": \"={{ $('Edit Fields').item.json.nombre }}\",\n  \"email\": \"={{ $('Edit Fields').item.json.email }}\",\n  \"asunto\": \"={{ $('Edit Fields').item.json.asunto }}\",\n  \"mensaje\": \"={{ $('Edit Fields').item.json.mensaje }}\",\n  \"prioridad_usuario\": \"={{ $('Edit Fields').item.json.prioridad }}\",\n  \"analisis_ia\": \"={{ JSON.parse($json.content?.[0]?.text ?? $json.text) }}\",\n  \"categoria_ia\": \"={{ JSON.parse($json.content?.[0]?.text ?? $json.text).categoria }}\",\n  \"sentimiento_ia\": \"={{ JSON.parse($json.content?.[0]?.text ?? $json.text).sentimiento }}\",\n  \"urgencia_ia\": \"={{ JSON.parse($json.content?.[0]?.text ?? $json.text).urgencia }}\",\n  \"resumen_ia\": \"={{ JSON.parse($json.content?.[0]?.text ?? $json.text).resumen }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        -80
      ],
      "id": "8bc29b86-0055-4c1a-ad39-627adc426f46",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un agente de soporte al cliente profesional, amigable y empático.\nGenera una respuesta para el cliente basándote en su ticket de soporte.\n\nReglas:\n- Saluda al cliente por su nombre\n- Muestra empatía si el sentimiento es negativo o frustrado\n- Ofrece pasos concretos de solución o siguiente acción\n- Incluye el número de ticket para referencia\n- Mantén un tono profesional pero cercano\n- Responde en español\n- Máximo 200 palabras\n- NO uses markdown, responde en texto plano"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Genera una respuesta para este ticket:  Ticket ID: {{ $json.ticket_id }} Cliente: {{ $json.nombre }} Asunto: {{ $json.asunto }} Mensaje original: {{ $json.mensaje }}  Análisis del ticket: - Categoría: {{ $json.categoria_ia }} - Sentimiento del cliente: {{ $json.sentimiento_ia }} - Urgencia: {{ $json.urgencia_ia }} - Resumen: {{ $json.resumen_ia }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1712,
        -80
      ],
      "id": "b0754965-effe-4164-b8e0-65de96575dee",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 800,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1696,
        160
      ],
      "id": "b8524544-fea1-42b0-bf1f-abb25937e216",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "QNxHCiWTXwChfLEK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={ $('Webhook').item.json.body.email }}",
        "subject": "==[{{ $('Edit Fields1').item.json.ticket_id }}] Respuesta a: {{ $('Edit Fields1').item.json.asunto }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 30px; border-left: 4px solid #2196F3;\">\n    \n    <div style=\"background-color: #e3f2fd; padding: 15px; border-radius: 5px; margin-bottom: 20px;\">\n      <p style=\"margin: 0; color: #1565c0; font-size: 13px;\">\n        🎫 Ticket: <strong>{{ $('Edit Fields1').item.json.ticket_id }}</strong> | \n        Categoría: <strong>{{ $('Edit Fields1').item.json.categoria_ia }}</strong> |\n        Prioridad: <strong>{{ $('Edit Fields1').item.json.urgencia_ia }}</strong>\n      </p>\n    </div>\n\n    <h2 style=\"color: #333; margin-top: 0;\">Hola {{ $('Edit Fields1').item.json.nombre }}, hemos recibido tu solicitud</h2>\n    \n    <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 5px; margin: 20px 0;\">\n      <p style=\"color: #555; font-size: 15px; line-height: 1.8; margin: 0; white-space: pre-wrap;\">{{ $json.content ? $json.content[0].text : $json.text }}</p>\n    </div>\n\n    <div style=\"border-top: 1px solid #e0e0e0; padding-top: 15px; margin-top: 20px;\">\n      <p style=\"color: #999; font-size: 12px;\">\n        📅 Fecha: {{ $('Edit Fields1').item.json.fecha }}<br>\n        Este mensaje fue generado automáticamente por nuestro sistema de soporte inteligente.<br>\n        Si necesitas asistencia adicional, responde a este correo con tu número de ticket.\n      </p>\n    </div>\n\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2064,
        -80
      ],
      "id": "89c9316b-c0d5-4b13-9676-0c74a72eada5",
      "name": "Send a message",
      "webhookId": "f5330ada-0505-4a6a-8de0-50d64743ee65",
      "credentials": {
        "gmailOAuth2": {
          "id": "WCKFOvp73wR86d9J",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1LQ2SOUE7i8v5CCNc60z4BoOVzeTPxfZYqiIorkI6XUY/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "https://docs.google.com/spreadsheets/d/1LQ2SOUE7i8v5CCNc60z4BoOVzeTPxfZYqiIorkI6XUY/edit?gid=0#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2368,
        -96
      ],
      "id": "7f1bb40a-a8ff-48f0-849b-23f357a0a2d6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9JHyjNeOj9oXlY",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "680f9c28-b7f1-43ea-8aca-0ad3c1181614",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83f239eacd8f4de437c745e92887204e1d1adae860eb2a6a0c054d5b99578264"
  },
  "id": "z9Tr61hwrXN8ild1",
  "tags": []
}